.slick-slider {


    img {
        width: 100%;
        height: 100vh;
    }
    .slick-arrow {
        right: 0px;
        display: none!important;
    }
    @media (max-width: 702px) {
        img {
            height: 40vh;
        }
    }
}